.octodex{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  /*align-content: flex-start;
  align-items: flex-start;
  min-width: 350px;*/
}
.octocat{
  align-content: center;
  align-items: stretch;
  margin: 0px 10px;
}

.octocat img{
  max-width: 300px;
  /*padding: 20px;*/
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  flex: auto;
}
.image-footer{
  color: #bdc3c7;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 2px solid #bdc3c7;

}
.image-footer a{
  text-decoration: none;
  color: black;
  /*height: 60px;*/
  vertical-align: bottom;

  /*display: inline-flex;*/
}
.image-number{
  padding-right:30px;
}

.image-caption {
    height: 25px;
}
.authors img{
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
  /*display: inline-flex;*/

}
.authors{
    margin-top: -5px;
    float: right;
}
}
.authors ul{
  text-decoration: none;
}
ul ul, ol ul, ul, li{
  list-style-type: none;
}
